@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://cdn.onlinewebfonts.com/svg/img_393256.png" title="Account Number" width="450" height="300"/>
    <p><h2>Your Random Account Number</h2></p>
    <p>@ViewBag.responseCall </p>
    <button onclick="window.location.href='https://wamdahhassan-frontend-service.azurewebsites.net';">Generate New Number</button>
</div>
